nav.navbar.navbar-expand-lg.bg-body-tertiary{
    background-color: transparent !important;
    position: absolute;
    top:0;
    width: 100%;
    transition: background-color 0.5s ease-in-out;
}

nav.navbar.navbar-expand-lg.bg-body-tertiary.navbar-fixed{
    position: fixed;
    top: 0;
    background-color: #222 !important;
    width: 100%;
}

.collapse.navbar-collapse.show{
    display: flex;
    flex-direction: row;
    margin-left: 25px;
}

.collapse.navbar-collapse.show ul{
    display: flex;
    flex-direction: row;
}

.collapse.navbar-collapse.show ul li{
    padding: 0 10px;
}

.collapse.navbar-collapse.show button{
    margin-right:0;
    margin-left: 20px;
}

.container-fluid a.navbar-brand{
    color: var(--base-color);
    font-size: 24px;
    margin-left: 48px;
}
.container-fluid ul li a{
    color: var(--base-color);
}
.container-fluid a span{
    color: var(--main-color);
    font-weight: 700;
}

.container-fluid .collapse{
    margin-left: 15px;
}
.navbar-toggler{
    background-color: var(--base-color)!important;
    border: 1px solid var(--secondary-color)
}

.nav-link{
    margin-left: 25px;
}

ul li a {
    color: var(--main-color);
  position: relative;
  text-decoration: none;
  letter-spacing: 4px;
}

ul li a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--main-color);
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

ul li a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.container-fluid ul li a:hover{
    color: var(--base-color);
}
.container-fluid ul li a.active{
    font-weight: 600;
    color: var(--main-color) !important;
}

.social-icon{
    display: inline-block;
}

.social-icon a{
    display: inline-flex;
    text-decoration: none;
    padding: 0 5px;
}

.social-icon a i{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 1px solid var(--base-color);
    font-size: 24px;
    color:var(--base-color);
}

.social-icon a::before{
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color:var(--base-color);
    border-radius: 50%;
    transform: scale(0);
    transition: 0.3s ease-in-out; 
}

.social-icon a:hover::before{
    transform: scale(1)
}

.social-icon a i:hover{
    color: var(--secondary-color);
    transition: 0.3s ease-in-out;
    z-index: 2;
}

.button-contact {
    background: var(--base-color); /* color de fondo */
    color: var(--secondary-color); /* color de fuente */
    border: 2px solid var(--secondary-color); /* tamaño y color de borde */
    padding: 12px 24px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 3px; /* redondear bordes */
    position: relative;
    font-size:16px;
    font-weight: bold;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
  }
  .button-contact:hover {
    color: var(--base-color); /* color de fuente hover */
  }
  .button-contact::after {
    content: "";
    background: var(--main-color); /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 12px 24px;
    display: block;
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  .button-contact:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }

  @media (max-width: 800px){
    .navbar-collapse.collapse.show ul li{
        padding: 0;
    }
    .navbar-collapse.collapse.show ul li a{ 
        font-size: 14px;
        letter-spacing: 3px;
    }
    .navbar-collapse.collapse.show span div a i{
        width: 36px;
        height: 36px;
        font-size: 18px;
    }
    .navbar-collapse.collapse.show button{
       padding: 6px 12px;
    }
}

@media (max-width: 600px){
    .navbar-collapse.collapse.show{
        flex-wrap: wrap;
        justify-content: center;
    }
    .navbar-collapse.collapse.show ul li a{ 
        font-size: 12px;
        letter-spacing: 2px;
    }
    .navbar-collapse.collapse.show span div a i{
        width: 28px;
        height: 28px;
        font-size: 16px;
    }
    .navbar-collapse.collapse.show button{
       padding: 6px 12px;
       font-size: 14px;
       margin-left: 5px;
    }
}