.projects{
    position: relative;
}

.projects::before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background-image: url('../assets/img/image-banner.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(4px);
    z-index: -5;
}

.projects::before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: #222;
    opacity: .5;
    z-index: -2
}

.projects-container{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: auto;
    margin-top: -5%;
    padding-top: 10%;
    padding-bottom: 8%;
    z-index: 2;
    color: #fff;
}

.projects-container h3{
    text-align: center;
    width: 80%;
    height: auto;
    padding: 50px;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 10px;
    font-family: 'Ubuntu', sans-serif;
    border-bottom: 1px solid #fff;
}

.grid-projects{
    margin-top: 5%;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5%;
    justify-items: center;
    align-items: center;
}


@media (max-width: 1000px){
    .grid-projects{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .projects-container{
        padding-bottom: 16%;
    }
}

@media (max-width: 800px){
    .projects-container h3 {
        font-size: 36px;
    }  
}

@media (max-width: 600px){
    .projects-container h3 {
        font-size: 30px;
        padding: 30px;

    }  
    .projects-container{
        width: 80%;
    }
}